@import "tailwindcss";
@plugin "daisyui";

body {
  background: #f0f5f1;
  font-family: var(--font-bangla), system-ui, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 57s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
